.main-sidebar {
    background-color: black;
    margin-top: 45px;
    min-height: 10vh !important;
}
.heading {
    color:rgb(252, 248, 11);
}
.header {
    background-color: black;
    height: 50px;
    width: 252px;
    margin-inline-start: -0.65rem;
    margin-block-start: -0.65rem;
}

.link {
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 1.2rem;
    font: outline;
}

a.selected {
    color: rgb(252, 248, 11);;
}
.color {
    font-size:16px;
    color:red;
}
.fa-calculator {
    font-size:36px;
    color:rgb(255, 250, 250);
}