<aside class="main-sidebar  elevation-4">
    <div class="sidebar" style="margin-top:0px">
        <nav class="mt-2">
            <div class="header pt-2 font-weight-bolder text-center ">
                <h1 class="heading"> Masters</h1>
            </div>
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item has-treeview">
                    <a routerLink="expensescategory" class="nav-link link">
                        <i class="fas fa-circle nav-icon target color"></i> Expense Category
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="incomecategory" class="nav-link link">
                        <i class="fas fa-circle nav-icon color"></i> Income Category
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="expenses" class="nav-link link">
                        <i class="fas fa-circle nav-icon color"></i> Expense
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="income" class="nav-link link">
                        <i class="fas fa-circle nav-icon color"></i> Income
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="cashbook" class="nav-link link">
                        <i class="fas fa-circle nav-icon color"></i> Cash Book
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="bankbook" class="nav-link link">
                        <i class="fas fa-circle nav-icon color"></i> Bank Book
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="daybook" class="nav-link link">
                        <i class="fas fa-circle nav-icon color"></i> Day Book
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="balancesheet" class="nav-link link">
                        <i class="fas fa-circle nav-icon color"></i> Balance Sheet
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="page" class="nav-link link">
                        <i class="fas fa-circle nav-icon color"></i> Ceate Notes
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="diary" class="nav-link link">
                        <i class="fas fa-circle nav-icon color"></i>
                        Diary
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a class="nav-link link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                        <i class="fas fa-circle nav-icon color"></i>
                        <i class="fa fa-calculator" aria-hidden="true"></i>
                    </a>
                </li>

            </ul>
        </nav>

    </div>

</aside>