.container-fluid {
    margin-left: 32%;
    margin-top: 5.3%;
    width: 55%;
}
.heading {
    color:rgb(255, 255, 255);
    font: 1.5em sans-serif; 
    font-weight: 400;
}
.btnText {
    color:white; 
    font: 1.5em normal; 
    font-weight: normal;
}
.container {
    text-align: center;
    padding: 0%;
    background: black
}
.color {
    color:red;
}
.content {
    height: 2vh;
    width: 60%;
    margin-left: 32%;
}

h4, .colorBlack {
    color: black;
}

button {
    width: 10rem;
}

.btnsubmit {
    background: rgb(24, 180, 19);
}

.btncancel {
    background-color: red;
}

.mrt-5 {
    margin-top: -5%;
}

.mrt-4 {
    margin-top: -3.5%;
}

@media screen and (max-width: 575px) {
    .col {
        display: none !important;
    }
    input,
    .form-check-inline,
    .d-flex {
        margin-top: 2%;
    }
}

@media screen and (max-width: 990px) {
    .container-fluid {
        width: 100%;
        margin-left: 0%;
    }
    .container {
        text-align: center;
        padding: 0%;
        max-width: 100%;
        background-color: rgb(52, 176, 35);
    }
    .content {
        width: 100%;
        margin-left: 1.35%;
        padding-right: 2.7%;
    }
}

body,
.content-wrapper {
    background-image: repeating-linear-gradient(rgba(155, 62, 20, 0.705), rgba(206, 90, 36, 0.705) 30%, rgb(184, 119, 44) 20%);
    height: 2vh;
    width: 60%;
    padding-left: 32% !important;
}

.wrapper {
    /* max-width: 1170px; */
    /* margin-left: auto; */
    margin-right: auto;
}