  <div class="container-fluid">  
    <h1 class="text-center">Personal Account Password Reset</h1><br><br>
    <section class="content" *ngIf='foo ===  2'>
        <div class="container border-0">
            <div class="card-body bg-success">
                <h3 class="text-center mt-0 mb-0"> {{message}}</h3>
            </div><br><br>
               <div class="btnLogin"> 
                   <button type="button" class="float-right btn btn-sm btn-primary" (click)="login()">Login</button>
                </div>
        </div>
    </section>
    <section class="content" *ngIf='foo === 3'>
        <div class="card card-danger">
            <div class="card-body bg-danger">
                <h3 class="text-center mt-0 mb-0"> {{message}}</h3>
            </div>
        </div>
    </section>
    <h3 *ngIf='foo === 0' class="text-danger text-center"> The link is invalid or broken!</h3>

    <form action="" #passwordReset="ngForm" *ngIf="foo == 1">
        <div class="row">
            <div class="col col-md-4 col-sm-8 col-lg-4 col-xs-12">
                <div class="form-group">
                    <label for="tempPassword">New Password</label>
                    <input type="password" name="temp_password" id="temp_password" ngModel [(ngModel)]="new_password" #temp_password="ngModel" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" 
                      pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,15}$" class="mt" [ngClass]="{ 'form-control': true,
                          'is-invalid': !temp_password?.valid && temp_password?.touched,  
                          'is-valid': temp_password?.valid && temp_password?.touched }" required/>
                    <small *ngIf="temp_password?.errors?.required && temp_password?.touched" class="form-text custom-invalid-feedback color">Field is required</small>
                    <small *ngIf="temp_password?.errors?.pattern && temp_password?.touched"  class="form-text custom-invalid-feedback color">Password is invalid.Min 8 character & Max 15 character. Password must contain at least one small & one capital alphabet and one special symbol and numeric digit.</small> 
                </div>  
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" #confirm_password="ngModel"  name="confirm_password" ngModel [(ngModel)]="user_password" id="user_password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" 
                      pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,15}$" class="mt" [ngClass]="{ 'form-control': true,
                          'is-invalid': !confirm_password?.valid && confirm_password?.touched,  
                          'is-valid': confirm_password?.valid && confirm_password?.touched }" required/>
                    <small *ngIf="confirm_password?.errors?.required && confirm_password?.touched" class="form-text custom-invalid-feedback color">Field is required</small>
                    <small *ngIf="confirm_password?.errors?.pattern && confirm_password?.touched" class="form-text custom-invalid-feedback color">Password is invalid.Min 8 character & Max 15 character. Password must contain at least one small & one capital alphabet and one special symbol and numeric digit.</small> 
                </div> <br>
                <div class="row form-group">
                    <button type="button" class="btn btn-success btn-block ml-3 mr-3" (click)="executeResetPassword(passwordReset)" [disabled]="passwordReset.invalid"><b><span *ngIf="spinner_status == 0" class="spinner-border spinner-border-sm text-white"></span> &nbsp;Reset Password </b></button>
                </div>       
            </div>  
        </div>
    </form>
</div>