<div class="container-fluid px-4 px-md-4 py-5">
    <div class="row d-flex justify-content-center align"> 
        <div class="card p-0 mb-5">
            <div class="forgot">
                <h2 class="text text-center">Forgot your password?</h2>
                <p class="text">Change your password in three easy steps. This will help you to secure your password!</p>
                <ol class="list-unstyled">
                    <li class="text"><span class="text-primary text-medium">1.&nbsp;&nbsp;</span>Enter your email address below.</li>
                    <li class="text"><span class="text-primary text-medium">2.&nbsp;&nbsp;</span>Our system will send you a temporary link</li>
                    <li class="text"><span class="text-primary text-medium">3.&nbsp;&nbsp;</span>Use the link to reset your password</li>
                </ol>
            </div>
            <p *ngIf="foo === 1" class="text-center text-success mb-0"> <b>{{message}}</b> </p>
            <p *ngIf="foo === 2" class="text-center text-danger mb-0"> <b>{{err}} </b></p>
            <form action=""  #forgetPassword="ngForm">
                <div class="card-body">
                    <div class="form-group">
                        <h3 class="text">Enter your email address</h3>
                        <input type="email" #userEmail="ngModel" placeholder="email id" ngModel [(ngModel)]="emailId" name="userEmail" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                             class="mt" [ngClass]="{ 'form-control': true,
                                'is-invalid': !userEmail?.valid && userEmail?.touched,  
                                'is-valid': userEmail?.valid && userEmail?.touched }" required />
                        <small 
                                *ngIf="userEmail?.errors?.required && userEmail?.touched" 
                                class="form-text custom-invalid-feedback color">Email address is required
                        </small>
                        <small
                                *ngIf="userEmail?.errors?.pattern && userEmail?.touched" 
                                class="form-text custom-invalid-feedback color">Email address is invalid
                        </small>
                        <small class="form-text text-muted text">Enter the email address you used during the registration on PersonalBankAccount. Then we'll email a link to this address.</small>
                    </div>
                </div>
                <div class="row mb-3"><div class="col-6">
                    <button class="btn btn-danger ml-5" type="submit" (click)="cancel()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Back to Login&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></div>
                    <div class="col-6"><button class="btn btn-success ml-5" type="submit" [disabled]="forgetPassword.invalid" (click)="forgotPassword(forgetPassword)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span *ngIf="spinner_status == 1" class="spinner-border spinner-border-sm text-white"></span>&nbsp;&nbsp;Get New Password</button> </div>
                </div>   
            </form> 
        </div>
    </div> 
</div>