<div class="container-fluid outer">
    <div class="inner">
        <div class="d-flex justify-content-center floattop sticky-top ">
            <h1 class="mt mb pt-1 pb-1">Income Categories</h1>
            <button type="button" class="btn btnfixed" (click)="addNewIncomeCategory()">
                <h4 class="newCategory">New Category</h4>
            </button>
        </div>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-sm table-striped">
            <thead style="background-color:  rgb(0, 0, 0);">
                <tr>
                    <th class="tableHeading">
                        <h3 class="mth mb-0 ">Category Name</h3>
                    </th>
                    <th class="tableHeading">
                        <h3 class="mth mb-0"> Category Details</h3>
                    </th>
                    <th>
                        <h3 class="mth mb-0">Action</h3>
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let detail of details" style="height:2px; padding-top: 0.5%; padding-bottom: -10%;">
                    <td class="color">{{detail.incomeCategoryName}}</td>
                    <td class="color">{{detail.incomeCategoryDetails}}</td>
                    <td style="line-height: 0.6rem;">
                        <button type="button" class="btn" style="color: rgb(77, 255, 7); padding-bottom: 0rem;  margin-top:-0.8rem; margin-bottom: -0.2rem;" (click)="updateIncomeCategory(detail.incomeCategoryId)">Edit</button> &nbsp;
                        <button type="button" class="btn" style="color: rgb(255, 7, 7); padding-bottom: 0rem; margin-top: -2rem; margin-bottom: -1.5rem; " (click)="deleteIncomeCategory(detail.incomeCategoryId)">Delete</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Category Name</th>
                    <th>category Details</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>



    </div>

</div>